############################################################
# AMBIENTE VIRTUAL
############################################################

venv/
.env/


############################################################
# CACHE DO PYTHON
############################################################

__pycache__/
*.pyc
*.pyo
*.pyd


############################################################
# CACHE DO ROBOT
############################################################

*.log


############################################################
# RESULTADOS ANTIGOS
#
# Não precisamos copiar resultados antigos para dentro
# da imagem.
############################################################

results/


############################################################
# CONTROLE DE VERSÃO
############################################################

.git/
.gitignore


############################################################
# CONFIGURAÇÕES DO VS CODE
############################################################

.vscode/


############################################################
# ARQUIVOS TEMPORÁRIOS
############################################################

*.tmp
*.temp


############################################################
# SISTEMA OPERACIONAL
############################################################

.DS_Store
Thumbs.db