ENVIRONMENT=

BASE_URL=

API_USERNAME=

API_PASSWORD=


PIX_DESTINATARIO_USERNAME=

PIX_DESTINATARIO_PASSWORD=

# ============================================================
# AI PROVIDER
# ============================================================

# Opções:
# local
# openai
# azure
# corporate

AI_PROVIDER=local
AI_MODEL=test-model