# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
venv/
.env/
.venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Robot Framework
# ==========================
log.html
report.html
output.xml

reports/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Windows
# ==========================
Thumbs.db

# ==========================
# Python cache
# ==========================
.pytest_cache/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/

# ==========================
# Build
# ==========================
dist/
build/